.categories{
    position: absolute;
    top: 7em;
    left: 16em;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-list{
    margin-left: 1em;
    border-right: grey solid 1px;
    width: 15em;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    padding-top: 5em;
}

.menu-item{
    border-radius: 2em;
    display: flex;
    padding-left: 1em; 
    align-items: center;
    width: 7em;
    height: 2em;
    cursor: pointer;
}

.menu-item:hover{
    background-color: #ffd1b3; 
}

.link{
    color : black;
    text-decoration: none;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
}

.top-bar{
    background-color: #FF6600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.title, .tool{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tool{
    width: 18em;
    justify-content: space-between;
    margin-right: 2em 
}

.y-img{
    border: solid white 1px;
    margin-right: 20px;
}

.item-card{
    width: 15em;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5em;
}

.item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}


